@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline:none;

}

section img{   
    height: 100vh;
    position: fixed;
    z-index: 1;
}

section div {
    z-index: 10;
    position: relative;
}

.container{
    width: 80%;
    margin: auto ;
}
.form-container {
    float:right;
   
    position: relative;
    top: 20vh;
    right: -100px;
    
   
}
.title-container{
    float: left;
    width: 50%;
    position: relative;
    top: 55vh;
}
.form-container h3{
    font-size: 5em;
    color: #3443eb;
    
    padding-left: 300px;
    margin-bottom: 30px;

    
}
input{
    border-radius: 30px;
    border: 0.5px solid #000;
    margin: 5px;
    width: 300px;
    margin-bottom: 25px;
 height: 60px;
 padding-left: 20px;
 font-weight: 400;
 font-size: 20px;
}
::placeholder{
    font-size: 20px;
    font-weight: 400;
}

input[type=submit],input[type=button]{
    border-radius: 27px;
    border:0px;
    padding:15px 30px;
    margin-left: 75px;
    margin-top: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2px;
    width: 150px;
}

input[type=submit]{
    background-color: #333333;
    margin-left: 100px;
}

input[type=button]{
    background-color:#3443eb ;
}
input[type=submit]:hover{
    background-color: #4361ee;
    transform: scale(1.1);
    transition: all ease 0.5s;
    
}
input[type=button]:hover{
    background-color: #333;
    transform: scale(1.1);
    transition: all ease 0.5s;
}
.title-container h1{
 font-size: 4.7em;
 color: #03045e;
}

.tooltip {
    position: relative;
    display: inline-block;
    
  }
  
   .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #03045e;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    left: -0px;
    top: -30px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 100;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  























/*
@media screen and (max-width: 800px){
    .form-container {
        float: left;
        top: 20vh;
    }
 .title-container{
     top:5vh;

 }
 .title-container h1{
    font-size: 2em;
    
   }
   section img{   
  display: none;
}
.form-container h3{
    font-size: 1.5em;
    margin-left: 00px;

}
input[type=submit],input[type=button]{
    padding:10px 25px;
    margin-left: 00px;
    margin-top: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;

}
input[type=submit]{
    padding:10px 30px;
}
input[type=text],input[type=password]{
    border-radius: 30px;
    
   
    width: 200px;
 height: 30px;
 padding-left: 20px;
 font-weight: 400;
}
::placeholder{
    font-size: 14px;

}
.form-container a{
    font-size: 12px;
}}
@media screen and (max-width: 700px) {
    .form-container {
        float: left;
        top: 20vh;
    }
 .title-container{
     top:5vh;

 }
 .title-container h1{
    font-size: 2em;
    
   }
   section img{   
  display: none;
}
.form-container h3{
    font-size: 1.5em;
    margin-left: 00px;

}
input[type=submit],input[type=button]{
    padding:10px 25px;
    margin-left: 80px;
    margin-top: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;

}
input[type=submit]{
    padding:10px 30px;
}
input[type=text],input[type=password]{
    border-radius: 30px;
    
   
    width: 200px;
 height: 30px;
 padding-left: 20px;
 font-weight: 400;
}
::placeholder{
    font-size: 14px;

}
.form-container a{
    font-size: 12px;
}}
