<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google Fonts and Bootstrap cdn-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800;900&display=swap" rel="stylesheet">
 <link rel="apple-touch-icon" sizes="180x180" href="https://solveproblems.netlify.app/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://solveproblems.netlify.app/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://solveproblems.netlify.app/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="https://solveproblems.netlify.app/img/favicon/site.webmanifest">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>MAC</title>
</head>
<body>
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand" href="#">
          <h1 style="font-size: 60px;font-family: 'Montserrat', sans-serif;font-weight: 800;">MAC</h1>
        </a>
        <ul class="nav justify-content-end" style="font-family: 'Montserrat', sans-serif;">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Issues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" >About us</a>
        </li>
      </ul>
      </nav>
      <br>
      <br>
      <!--Body Section starts here-->
      <div class="row pt-2">
        <div class="col">
          <div style="float: left;margin-left: 200px;">
            <div class="card" style="width: 30rem;border: none;">
                <p style="font-weight: 900;font-size: 100px;font-family: 'Montserrat';">Have an <br>Issue?</p>
                <a href="/login" class="btn" style="background: #8AFFB9;border-radius: 20px;"><p style="font-weight: 900;font-size: 60px;color:#439D7F;font-family: 'Montserrat';">Report now</p></a>
            </div>
          </div>
        </div>
        <div class="col">
          <div style="float: right;margin-right: 10px;">
            <div class="card " style="width: 30rem;background: #5E78BF;border-radius: 20px;height: 70vh;justify-content: right;">
              <div class="card-body">
                <div class="card " style="width: 27rem;background: #fdfdfd;border-radius: 20px;height: 20vh;justify-content: right;">
                    <div class="card-body">
                        <p class="card-title" style="font-family: 'Montserrat';font-weight: 700;font-size: 20px;color: #2E3D7D;"><img class="rounded-circle" alt="100x100" height="90px" width="90px" src="{{ url_for('static', filename='img/face.jpg') }}" data-holder-rendered="true">
                        MAC
                        </n>
{#                        <span style="font-weight: 400;font-family: 'Montserrat';font-size: 10px;"><a href="#">Logout</a></span>#}
                        </p>
                      
                    </div>
                  </div>
                  <br>
                <div class="card " style="width: 27rem;background: #e6f600;border-radius: 20px;border: 5px solid #5D5DB5;height: auto;justify-content: right;">
                    <div class="card-body" style="padding: 5px;">

                      <p class="card-text" style="display: flex;word-wrap: break-word;">
                        <h4 style="font-family: 'Montserrat';font-weight: 600;font-size: large;color: #ffffff;">Sub : Sign in</h4>
                         <h4 style="font-family: 'Montserrat';font-weight: 600;font-size: large;color: #25741F;">Status :  You're not signed in. Please sign in to check your status</h4>
                      </p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>
