<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://vigneshshettyin.github.io/Portfolio-Site/img/favicon/favicon.ico">
    <title>MAC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheetsignup.css') }}">
</head>
<body>
   <section>
       <img src="{{ url_for('static', filename='img/19994915.jpg') }}">
       <div class="container">
       <div class="title-container">
           <h1>Muncipality Action Center</h1>

       </div>
       <div class="form-container" >
           <h3>Sign Up</h3>
           <form class="signup-form" action="/register" method="post">
               <input type="text" placeholder="Email" name="emailid" required>
               <div class="tooltip">
               <input  type="date" placeholder="D.O.B" name="dob" required>
               <span class="tooltiptext">D.O.B</span></div><br>
               <input type="password" placeholder="Password" name="password" required>
               <input list="gender" name="gender" placeholder="Gender" required>
               <datalist id="gender">
                 <option value="Male">
                 <option value="Female">
                 <option value="Other">
                 <option value="Prefer not to say">
                   
               </datalist><br>
               <input type="tel" placeholder="Mobile No" name="mobileno" required>
               <input type="number" placeholder="Ward No" name="wardno" required><br>
{#               <input type="submit" name="submit" value="Log In">#}
               <input type="submit" name="signin"  value="Sign up">
           </form>

       </div></div>
   </section>
    
</body>
</html>